<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Management System</title>
    <link rel="stylesheet" href="style.css">

    <style>
        body {
        font-family: Arial, sans-serif;
        margin: 20px;
        }
        h1 {
        color: #2c3e50;
        }
        a {
        text-decoration: none;
        color: #2980b9;
        }

    </style>
</head>
<body>
<h1>Welcome to the Bank Management System</h1>
<a href="user-management.html">Manage Users</a>
</body>
</html>
